.page {
    width: 80%;
    min-height: 50vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.page h2 {
    padding: 1rem;
}

#upload-form {
    margin-top: 3rem;
    display: flex;
    cursor: pointer;
}

.upload-file {
    padding: 1rem;
    margin-right: 50px;
    border: 2px solid var(--color-4);
}

#upload-form button {
    padding: 1rem;
    cursor: pointer;
    font-weight: bold;
    border: 2px solid var(--color-4);
    color: var(--color-4);
    border-radius: 1rem;
    font-size: 1.2rem;
}

#upload-form button:hover {
    opacity: 0.8;
}

#download-button {
    padding: 1rem;
    cursor: pointer;
    font-weight: bold;
    border: 2px solid var(--color-4);
    color: var(--color-4);
    border-radius: 1rem;
    font-size: 1.2rem;
    margin-top: 1.5rem;
}

#download-button:hover {
    opacity: 0.8;
}